:root {
  background-color: rgb(53, 53, 53);
}

h1 {
  display: flex;
  flex-shrink: inherit;
  justify-content: center;
  color: burlywood;
}

#bridgeContainer {
  display: flex;
  justify-content: center;
}

canvas {
  border-radius: 15px;
}